header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  #head{
    position: relative;
    align-items: center;
    font:"Ojuju", sans-serif;
    text-align: center;
    size: 2rem;}
    
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
  }
  
  li a:hover {
    background-color: #ddd;
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    padding: 12px 16px;
  }#soni{
    text-decoration: underline;
    color: #4E4D50;
}.dropdown .dropdown-icon {
    display: none; 
}

.dropdown:hover .dropdown-icon {
    display: inline-block;
}body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #007BFF;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  border: #007BFF;
}
hr {
  border: .5rem solid #05AFF2; 
  margin: 20px 0; 
p {
  line-height: 1.6;
  font-size: 1.2rem;
  font-family: ;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007BFF;
  color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
}
#pack{
  text-align: center;
  font-size: 1.2rem;
}
#pack li{
  text-align: center;
}
#nb{
font-size: 1.2rem;
}
section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.ps1{
  width: 70%;
  border: 1px solid black;
} .video-container {
  width: 30%; 
  margin: 5px;
  overflow: hidden;
  position: flex;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}